#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

/************************************
 * Styles pour l'application principale
 ************************************/

body {
	font-family: Arial, sans-serif;
	background-color: #42456d;
}

main {
	padding: 20px;
}

/************************************
 * Styles pour la page d'accueil
 ************************************/

.container {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

h1 {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 20px;
}

.card {
	background-color: #43248d;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(20, 4, 4, 0.1);
	padding: 20px;
	margin-bottom: 20px;
}

.card h2 {
	font-size: 20px;
	margin-bottom: 10px;
}

.card p {
	font-size: 16px;
	line-height: 1.5;
	margin-bottom: 10px;
}

/************************************
 * Styles pour la page du formulaire d'ajout de post
 ************************************/

form {
	margin-bottom: 10px;
}

label {
	display: block;
	font-weight: bold;
	margin-bottom: 10px;
}

input[type="text"],
textarea {
	width: 80%;
	padding: 15px;
	margin: 10px;
	border-radius: 4px;
	border: 1px solid #fffdfd;
}

button[type="submit"] {
	display: inline-block;
	padding: 10px 20px;
	background-color: #036ddd;
	color: #fdf6f6;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

/************************************
 * Styles pour la page des détails du post
 ************************************/

h2 {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 20px;
	color: #fffdfd;
}

p {
	font-size: 16px;
	line-height: 1.5;
	margin-bottom: 10px;
	color: #fffdfd;
}

h3 {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 10px;
}
